<f:layout name="Default" />

<f:section name="Title">Edit leave "{leave.name}"</f:section>

<f:section name="Content">
     <script type="text/javascript" src="{f:uri.resource(path: 'js/jquery-1.8.2.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'js/jquery.validate.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'js/customValidation.js')}"></script>
	<f:form action="update" object="{leave}" name="leave">
		<ol>
			<li>
				<label for="reason">Reason</label>
				<f:form.textfield property="reason" id="reason" />
			</li>
                        <li>
				<label for="createDate">Create Date</label>
                                <f:form.textfield type="datetime" value="{leave.createDate -> f:format.date(format: 'Y-m-d\TH:i:sP')}" property="createDate" id="createDate" />
			</li>
                        <li>
				<label for="from">From</label>
                                <f:form.textfield type="datetime" value="{leave.from -> f:format.date(format: 'Y-m-d\TH:i:sP')}" property="fromDate" id="from" />
			</li>
                        <li>
				<label for="to">To</label>
                                <f:form.textfield type="datetime" value="{leave.to -> f:format.date(format: 'Y-m-d\TH:i:sP')}" property="toDate" id="to" />
			</li>
                        <li>
				<label for="hasTeamleaderApproved">Has Team Leader approved</label>
				<f:form.textfield property="hasTeamleaderApproved" id="hasTeamleaderApproved" />
			</li>

			<li>
				<label for="hasDirectorApproved">Has Director approved</label>
				<f:form.textfield property="hasDirectorApproved" id="hasDirectorApproved" />
			</li>

			<li>
				<label for="teamLeader">Team leader</label>
				<f:form.textfield property="teamLeader" id="teamLeader" />
			</li>

			<li>
				<label for="employee">Employee</label>
				<f:form.textfield property="employee" id="employee" />
			</li>
			<li>
				<f:form.submit value="Update"/>
			</li>
		</ol>
	</f:form>
</f:section>