<f:layout name="Default" />

<f:section name="Title">A list of Leaves</f:section>

<f:section name="Content">
    <f:if condition="{leaves}">
        <f:then>
			<div class="pagination">
				<f:widget.paginate objects="{leaves}" as="paginatedLeaves" configuration="{itemsPerPage: 5}">
					<table class="table" >
						<tr>
							<th>Developer</th>
							<th>Reason</th>
							<th>Applied On</th>
							<th>From</th>
							<th>To</th>
							<th>Team Leader Approval</th>
							<th>Director Approval</th>
						</tr>
						<f:for each="{paginatedLeaves}" as="leave">
								<f:cycle values="{0:'even',1:'odd'}" as="classname">
									<tr class="{classname}">
										<td>{leave.employee.name.fullName}</td>
										<td>{leave.reason}</td>
										<td>{leave.createDate -> f:format.date(format: 'Y-m-d')}</td>
										<td>{leave.fromDate -> f:format.date(format: 'Y-m-d')}</td>
										<td>{leave.toDate -> f:format.date(format: 'Y-m-d')}</td>
										<td>
									<f:if condition="{leave.hasTeamLeaderApproved} == 1">
										<f:then>Yes</f:then>
										<f:else>No</f:else>
									</f:if>
									</td>
									<td>
									<f:if condition="{leave.hasDirectorApproved} == 1">
										<f:then>Yes</f:then>
										<f:else>No</f:else>
									</f:if>
									</td>
									</tr>
								</f:cycle>
						</f:for>
					</table>
				</f:widget.paginate>
			</div>
        </f:then>
        <f:else>
            <p>No leaves applied yet.</p>
        </f:else>
    </f:if>
</f:section>