<f:layout name="Default" />

<f:section name="Title">Show leave "{leave.name}"</f:section>

<f:section name="Content">
	<table>
		<tr>
			<th>Reason</th>
			<td>{leave.reason}</td>
		</tr>
                <tr>
                    <th>Create date</th>
                    <td>{leave.createDate -> f:format.date(format: 'Y-m-d H:i')}</td>
                </tr>
                <tr>
			<th>From</th>
			<td>{leave.fromDate}</td>
		</tr>
                <tr>
			<th>To</th>
			<td>{leave.toDate}</td>
		</tr>
                <tr>
			<th>Director Approval</th>
			<td>{leave.hasDirectorApproved}</td>
		</tr>
                <tr>
			<th>Team Leader Approval</th>
			<td>{leave.hasTeamLeaderApproved}</td>
		</tr>
                <tr>
			<th>Employee</th>
			<td>{leave.employee}</td>
		</tr>
                <tr>
			<th>Team Leader</th>
			<td>{leave.teamLeader}</td>
		</tr>
	</table>
	<f:link.action action="index">Back</f:link.action>
</f:section>