<f:layout name="Default" />

<f:section name="Title">Edit employee "{employee.name}"</f:section>

<f:section name="Content">
	 <script type="text/javascript" src="{f:uri.resource(path: 'js/jquery-1.8.2.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'js/jquery.validate.js')}"></script>
    <script type="text/javascript" src="{f:uri.resource(path: 'js/customValidation.js')}"></script>
    <f:form action="update" object="{employee}" name="employee" class="form-horizontal" id="updateEmployee">
        <fieldset>
            <legend>Edit your profile</legend>
            <div class="control-group">
                <label for="name" class="control-label">First Name</label>
                <div class="controls">
                    <f:form.textfield property="name.firstName" id="name" />
                </div>
            </div>
            <div class="control-group">
                <label for="lastName" class="control-label">Last Name</label>
                <div class="controls">
                    <f:form.textfield property="name.lastName" id="lastName" />
                </div>
            </div>
			<div class="control-group">
                <label for="gender" class="control-label">Gender</label>
                <div class="controls">
                    <f:form.radio property="gender" value="0" checked="checked" />Male
                    <f:form.radio property="gender" value="1"  />Female
                </div>
            </div>
            <div class="control-group">
                <label for="address" class="control-label">Address</label>
                <div class="controls">
                    <f:form.textfield property="address" id="address" />
                </div>
            </div>
            <div class="control-group">
                <label for="contactNumber" class="control-label">Contact No</label>
                <div class="controls">
                    <f:form.textfield property="contactNumber" id="contactNumber" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <f:form.submit value="Update"/>
                </div>
            </div>
        </fieldset>
    </f:form>
</f:section>