<f:layout name="Default" />

<f:section name="Title">Profile</f:section>

<f:section name="Content">
	<h3>Profile</h3>
	<table class="table">
		<tr>
			<th>Name</th>
			<td>{employee.name.firstName}</td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td>{employee.name.lastName}</td>
		</tr>
		<tr>
			<th>Gender</th>
			<td>
		<f:if condition="{employee.gender} == 1" >
			<f:then>
				Female
			</f:then>
			<f:else>
				Male
			</f:else>
		</f:if>
		</td>
		</tr>
		<f:security.ifHasRole role="Director">
			<f:then></f:then>
			<f:else>
				<tr>
					<th>Role</th>
					<td>
				<f:for each="{employee.accounts}" as="account">
					<f:for each="{account.roles}" as="role">
						<f:if condition="{role.identifier} == 'Cloudframe.Leavemanagement:Teamleader'">
							<f:then>
								Team Leader
							</f:then>
							<f:else>
								Developer
							</f:else>
						</f:if>

					</f:for>

				</f:for>
				</td>
				</tr>
				<tr>
					<th>Address</th>
					<td>{employee.address}</td>
				</tr>
				<tr>
					<th>Contact number</th>
					<td>{employee.contactNumber}</td>
				</tr>
			</f:else>
		</f:security.ifHasRole>
	</table>
	<f:security.ifHasRole role="Director">
		<br /><br />
		<f:link.action action="index" controller="leave" >Show All Leaves</f:link.action>
	</f:security.ifHasRole>
</f:section>